/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

@media (hover: none) { 
    div.main__module_row {
        overflow-y:hidden;
        overflow-x:scroll;
    }
}
@media (hover: hover) { 
    div.main__module_row {
        overflow-y:hidden;
        overflow-x:hidden;
    }
    div.main__module_row:hover {
        overflow-y:hidden;
        /* overflow-x:scroll; */
    }
}
div.main__module {
    width:100%;
    position: relative;
}
div.main__module_row {
    position: relative;
    margin:32px 0;
    display: flex;
    gap:24px;
    height:280px;
}
div.main__module_row_panel {
    display: flex;
    flex-direction: column;
    gap:24px;
}
div.main__module_row_block {
    position: relative;
    width:340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}
div.main__module_row_block_img {
    width:60px;
    height:60px;
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;
    position: relative;
}
img.main__module_row_block_pic {
    width:60px;
    height:60px;
    background-color: var(--block-color);
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;
}
div.main__module_row_block_f  {
    margin:0 16px;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
}
p.main__module_row_block_f_p {
    font-size:12px;
    color:var(--sub_content);
}
div.left {
    width:60px;
    height:60px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    top:35%;
    position:absolute;
    z-index:5;
    border-radius: 100%;
    cursor: pointer;
}
div.right {
    width:60px;
    height:60px;
    background: rgba(0, 0, 0, 0.6);
    top:35%;
    position: absolute;
    z-index:5;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
div.main__module_row_block_action  {
    padding:4px 16px;
    background-color: var(--blue_back);
    border-radius: 16px;
    right:0;
    color:#fff;
    font-weight: 600;
}