/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

@media screen and (min-width:1900px) {
    div.main__block_menu_select {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    
    div.main__block_interface_menu {
        width: 1300px;
        padding: 60px 0;
    }
    button.main__block_interface_btn_forward {
        margin-left:60px;
    }
    div.choice_land {
        width:200px;
    }
    select.main__block_interface_menu_c_select {
        padding-left:32px;
    }
    a.main__block_interface_btn_forward {
        margin-left:60px;
    }
    div.main__block_interface_menu_c_info_block_text {
        margin-left:120px;
    }
    div.main__block_fixed_confirm {
        padding:3px 0 3px 0;
    }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
    div.main__block_menu_select {
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    }
    div.main__block_interface_menu {
        width: 1075px;
        padding: 60px 0;
    }
    button.main__block_interface_btn_forward {
        margin-left:60px;
    }
    div.choice_land {
        width:200px;
    }
    select.main__block_interface_menu_c_select {
        padding-left:32px;
    }
    a.main__block_interface_btn_forward {
        margin-left:60px;
    }
    div.main__block_interface_menu_c_info_block_text {
        margin-left:80px;
    }
    div.main__block_fixed_confirm {
        padding:3px 0 3px 0;
    }
}
@media (min-width:601px) and (max-width:1160px) {
    div.main__block_menu_select {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
    div.main__block_interface_menu {
        width: 100%;
        padding: 60px 0;
    }
    button.main__block_interface_btn_forward {
        margin-left:40px;
    }
    div.choice_land {
        width:150px;
    }
    select.main__block_interface_menu_c_select {
        padding-left:32px;
    }
    a.main__block_interface_btn_forward {
        margin-left:60px;
    }
    div.main__block_interface_menu_c_info_block_text {
        margin-left:80px;
    }
    div.main__block_fixed_confirm {
        padding:3px 0 3px 0;
    }
}
@media (min-width:1px) and (max-width:600px) {
    div.main__block_menu_select {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    div.main__block_interface_menu {
        width: 90%;
        padding: 48px 16px;
    }
    button.main__block_interface_btn_forward {
        margin-left:16px;
    }
    div.choice_land {
        width:150px;
    }
    select.main__block_interface_menu_c_select {
        padding-left:16px;
    }
    a.main__block_interface_btn_forward {
        margin-left:16px;
    }
    div.main__block_interface_menu_c_info_block_text {
        margin-top:48px;
        width: 100%;
    }
    div.main__block_fixed_confirm {
        padding:3px 0 16px 0;
    }
}
div.main__block_menu_select {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
}
div.main__block_menu_select_block {
    width: 75%;
    margin: 8px auto;
    padding:24px 24px 0 24px;
}
div.main__block {
    margin: var(--n-2);
    padding:var(--m-2);
    margin-bottom:100px;
    background-color: var(--header-color);
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;;
}
div.main__block_menu_select_block {
    height: 314px;
    background-color: var(--block-color);
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;;
    cursor: pointer;
    border:1px solid transparent;
}
.green_temp {
    background-color: var(--green_back);
}
.purple_temp {
    background-color: var(--purple_back);
}
.blue_temp {
    background-color: var(--blue_back);
}

div.main__block_menu_select_block_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    width:46px;
    height:46px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}
div.main__block_menu_select_block_i {
    width:30px;
    height:30px;
    position: relative;
}
img.main__block_menu_select_block_icon_img {
    width:30px;
    height:30px;
}
div.main__block_menu_select_main {
    margin-top:30px;
}
button.main__block_menu_select_main_button {
    -webkit-border-radius: 21px;
       -moz-border-radius: 21px;
            border-radius: 21px;
    font-size:14px;
    font-weight: 700;
    width: 124px;
    height: 42px;
    cursor: pointer;
    color:var(--font-color);
}
p.main__block_menu_select_main_p {
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    height:66px;
}
div.main__block_interface_menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
            align-items: center;
    height: auto;
    border: 1px solid var(--border-color);
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;;
    margin-bottom:70px;
}
div.main__block_interface_menu_c {
    text-align: center;
    margin: 0 auto var(--p) auto;
}
div.main__block_interface_menu_c_logo {
    text-align: center;
    margin-bottom: var(--p);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
}
div.main__block_interface_menu_c_end {
    text-align: center;
}
img.main__block_interface_menu_logo_img {
    width: 135px;
    height: 135px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
div.main__block_interface_menu_logo_icon_pic {
    position: absolute;
    width: 46px;
    height:46px;
    margin:44px 44px;
    cursor: pointer;
    z-index:1;
}
img.main__block_interface_menu_logo_icon_img {
    width: 46px;
    height:46px;
    -webkit-filter: drop-shadow(5px 5px 20px var(--font-color));
            filter: drop-shadow(5px 5px 20px var(--font-color));
    opacity: 0.9;
}
input.main__block_interface_menu_logo_icon_img_hide {
    margin:44px 0;
    position: absolute;
    width: 46px;
    height:46px;
    margin:44px 44px;
    opacity: 0;
    cursor: pointer;
    z-index:1;
}
div.main__block_interface_menu_background {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    background-color: var(--green_back);
    margin:0 auto 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
}
img.main__block_interface_menu_logo_icon_img_back {
    width: 46px;
    height:46px;
}
a.main__block_interface_btn_back {
    padding:16px 27px;
    display: block;
    width: auto;
    height: auto;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    color:var(--sub_content)
}
a.main__block_interface_btn_back_red {
    padding:16px 27px;
    width: auto;
    height: auto;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    border: 1px solid var(--red_back);
    font-weight: bold;
    font-size: 16px;
    color: var(--red_back);
    cursor: pointer;
}
button.main__block_interface_btn_forward {
    padding:16px 27px;
    width: auto;
    height: auto;
    background: var(--green_back);
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    opacity:60%;
    cursor: not-allowed;
}
a.main__block_interface_btn_forward {
    padding:16px 27px;
    display: block;
    width: auto;
    height: auto;
    background: var(--green_back);
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    -webkit-animation-name: basic_animation;
            -moz-animation-name: basic_animation;
              -o-animation-name: basic_animation;
         animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
         animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            -moz-animation-iteration-count: 1;
              -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
              -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
}
div.main__block_interface_menu_c_book {
    height:200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
            align-items: center;
    cursor: pointer;
    border:1.5px solid transparent;
    -webkit-animation-name: basic_animation;
            -moz-animation-name: basic_animation;
              -o-animation-name: basic_animation;
         animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
         animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            -moz-animation-iteration-count: 1;
              -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
              -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
}
div.main__block_interface_menu_c_book:hover {
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;;
    border:1.5px solid var(--green_back);
}
div.main__block_interface_menu_c_book_block {
    width: 85px;
    height: 130px;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
    background: var(--block-color);
    margin-bottom:10px;
    border:1.5px solid var(--input_border);
}
div.main__block_interface_menu_c_album:hover {
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;;
    border:1.5px solid var(--green_back);
}
div.main__block_interface_menu_c_album {
    height:200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            -webkit-flex-direction: column;
               -moz-box-orient: vertical;
               -moz-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
            align-items: center;
    cursor: pointer;
    border:1.5px solid transparent;
    -webkit-animation-name: basic_animation;
            -moz-animation-name: basic_animation;
              -o-animation-name: basic_animation;
         animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
         animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            -moz-animation-iteration-count: 1;
              -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
              -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
}
div.main__block_interface_menu_c_album_block {
    width: 130px;
    height: 85px;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
    background: var(--block-color);
    margin-bottom:23px;
    border:1.5px solid var(--input_border);
}
span.main__block_interface_menu_cmain__block_interface_menu_c_book_block_text {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}
div.main__block_interface_menu_c_s {
    margin-bottom: 20px;
    -webkit-animation-name: basic_animation;
            -moz-animation-name: basic_animation;
              -o-animation-name: basic_animation;
         animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
         animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            -moz-animation-iteration-count: 1;
              -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
              -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
}
span.main__block_interface_menu_c_s_t {
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            -webkit-order:1;
               -moz-box-ordinal-group:2;
            order:1;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    width: 134px;
}
input.main__block_interface_menu_c_s_i {
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            -webkit-order:2;
               -moz-box-ordinal-group:3;
            order:2;
    width: 287px;
    height: 45px;
    -webkit-border-radius: 22.5px;
       -moz-border-radius: 22.5px;
            border-radius: 22.5px;
    text-align: center;
    font-size:16px;
    color:var(--font-color);
    background-color: var(--block-color);
    border:1.5px solid var(--input_border);
}
input.main__block_interface_menu_c_s_i::-webkit-input-placeholder {
    color:var(--input_back_text)
}
input.main__block_interface_menu_c_s_i::-moz-placeholder {
    color:var(--input_back_text)
}
input.main__block_interface_menu_c_s_i:-ms-input-placeholder {
    color:var(--input_back_text)
}
input.main__block_interface_menu_c_s_i::-ms-input-placeholder {
    color:var(--input_back_text)
}
input.main__block_interface_menu_c_s_i:-moz-placeholder {
    color:var(--input_back_text)
}
input.main__block_interface_menu_c_s_i::placeholder {
    color:var(--input_back_text)
}
label.main__block_i_l {
    display: block;
    width:auto;
}
label.main__block_i_l > input{
    visibility: hidden;
}
label.main__block_i_l > input + div.choice_land{
    cursor:pointer;
}
label.main__block_i_l > input:checked + div.choice_land{
    -webkit-border-radius: 24px;
       -moz-border-radius: 24px;
            border-radius: 24px;;
    border:1.5px solid var(--green_back);
}
select.main__block_interface_menu_c_select {
    max-width: 421px;
    width: 100%;
    height: 45px;
    -webkit-border-radius: 22.5px;
       -moz-border-radius: 22.5px;
            border-radius: 22.5px;
    margin-bottom: 20px;
    font-size:16px;
    color:var(--font-color);
    background: url(/img/top.svg) no-repeat 95% 50% var(--block-color);
    cursor: pointer;
    -webkit-animation-name: basic_animation;
            -moz-animation-name: basic_animation;
              -o-animation-name: basic_animation;
         animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
         animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            -moz-animation-iteration-count: 1;
              -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
              -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
         border:1.5px solid var(--input_border);
}
div.main__block_interface_menu_c_info_block {
    margin-bottom:var(--p);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}
div.main__block_interface_menu_c_info_block_avatar {
    text-align: center;
}

div.main__block_menu_close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
               -moz-box-pack: end;
            justify-content: flex-end;
    padding: 0 var(--m-p) 0;
}

div.main__block_menu_close > svg {
    cursor: pointer;
}

div.main__block_fixed_confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
            justify-content: center;
    width:100%;
    height:80px;
    background-color: var(--nav_block_blur);
    position: fixed;
    bottom:0;
    -webkit-border-radius: 20px 20px 0 0;
       -moz-border-radius: 20px 20px 0 0;
            border-radius: 20px 20px 0 0;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-animation-name: basic_animation;
            -moz-animation-name: basic_animation;
              -o-animation-name: basic_animation;
         animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            -moz-animation-duration: 0.4s;
              -o-animation-duration: 0.4s;
         animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            -moz-animation-iteration-count: 1;
              -o-animation-iteration-count: 1;
         animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
              -o-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
    z-index:1;
}
div.main__block_interface_add_block {
    margin: 20px auto 0 auto;
    width: 300px;
    height:auto;
    border:1px solid var(--border-color);
}