div.image_block {
    overflow:hidden;
    max-width: 600px;
    width:100%;
    min-width: 100px;
    background-color: var(--block-color);
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.check {
    max-width: 600px;
    width:100%;
    min-width: 100px;
    height:auto;
}
div.editor {
    z-index:10;
    max-width: 900px;
    width: 100%;
    min-width: 100px;
    margin: 0 auto;
    height:300px
}
div.editor_b {
    margin-top:24px;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:8px;
    text-align: center;
}
div.editor_b > input.enter_number {
    padding:12px;
    width:80px;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    background-color: var(--block-color);
    box-sizing: border-box;
    border-radius:16px;
}
div.editor_block {
    padding-bottom:16px;
    box-sizing: border-box;
    display: flex;
    gap:0 24px;
    margin: 0 auto;
    max-width: 900px;
    width:100%;
    min-width: 100px;
    overflow-x: scroll;
}
div.editor_block_button {
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
div.editor_block_button_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.6);
    border:1.5px solid transparent;
    margin-bottom:16px;
}
div.editor_block_button_icon_active {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 100%;
    background-color: var(--blue_back);
    border:1.5px solid transparent;
    margin-bottom:16px;
}
div.editor_block_button_icon_changed {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.6);
    border:1.5px solid var(--orange_back);
    margin-bottom:16px;
}
div.editor_block_button_icon > img {
    opacity:100%;
}
div.editor_nav {
    margin: 24px auto 40px auto;
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width:100%;
    min-width: 100px;
    overflow-x: scroll;
}
div.editor_nav_block {
    border-radius: 16px;
    padding:8px 16px;
    background-color: var(--block-color);
    cursor: pointer;
}
/* div.editor_nav_block:first-child {
    margin-left: auto;
}
div.editor_nav_block:last-child {
    margin-right: auto;
} */
div.editor_nav_block_active {
    border-radius: 16px;
    padding:8px 16px;
    background-color: var(--blue_back);
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}
div.editor_b > label {
    font-size: 24px;
    font-weight: 700;
}