div.row {
    max-width: 900px;
    width: 100%;
    min-width: 100px;
    height:550px;
    background-color: var(--block-color);
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap:16px; */
}
div.row_editor {
    padding:24px;
    max-width: 800px;
    width: 100%;
    min-width: 100px;
    background-color: var(--block-color);
    border-radius: 16px;
    margin: 24px auto;
    display: flex;
    box-sizing: border-box;
    gap:24px;
}
div.row_editor > div:first-child {
    margin-left:auto;
}
div.row_editor > div:last-child {
    margin-right: auto;
}
h1.counter_head {
    line-height: 40px;
    font-size:40px;
    text-align: center;
}
h1.counter_header {
    line-height: 100px;
    font-size:100px;
    text-align: center;
}
div.counter_block {
    display: flex;
    justify-content: center;
    gap: 0 40px;
    max-width:600px;
    width: 100%;
    min-width: 100px;
    /* background-color: aqua; */
}
button.counter_main {
    width:140px;
    height:140px;
    background-color: var(--brand_back);
    border-radius: 100%;
    cursor: pointer;
    font-size: 100px;
    line-height: 100px;
    color:hsl(0, 0%, 100%);
}
button.counter_reset {
    width:80px;
    height:80px;
    background-color: var(--red_back);
    border-radius: 100%;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    color:hsl(0, 0%, 100%);
}
div.row_editor_block {
    width:100px;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:8px 0;
}
div.row_editor_block_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width:60px;
    height:60px;
    border-radius: 100%;
}