.anim_hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
  }
.anim_hover:hover {
    -moz-transform: translate(0%, -8%);
    -o-transform: translate(0%, -8%);
    -ms-transform: translate(0%, -8%);
    -webkit-transform: translate(0%, -8%);
    transform: translate(0%, -8%);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7
}

@keyframes basic_animation {
    from {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.7
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
                transform: scale(1);
        opacity: 1
    }
  }
  @-webkit-keyframes basic_animation {
    from {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.7
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
                transform: scale(1);
        opacity: 1
    }
  }
  
  @keyframes block_animation {
    from {
        -webkit-transform: translate(0%, 2%);
        -moz-transform: translate(0%, 2%);
        -ms-transform: translate(0%, 2%);
        -o-transform: translate(0%, 2%);
        transform: translate(0%, 2%);
        opacity: 0.7
    }
    to {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        opacity: 1
    }
  }
  @-webkit-keyframes block_animation {
    from {
      -webkit-transform: translate(0%, 2%);
      -moz-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
      -o-transform: translate(0%, 2%);
      transform: translate(0%, 2%);
      opacity: 0.7
  }
  to {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1
  }
  }
  @-ms-keyframes block_animation {
    from {
      -webkit-transform: translate(0%, 2%);
      -moz-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
      -o-transform: translate(0%, 2%);
      transform: translate(0%, 2%);
      opacity: 0.7
  }
  to {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1
  }
  }
  @-moz-keyframes block_animation {
    from {
      -webkit-transform: translate(0%, 2%);
      -moz-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
      -o-transform: translate(0%, 2%);
      transform: translate(0%, 2%);
      opacity: 0.7
  }
  to {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1
  }
  }
  @-o-keyframes block_animation {
    from {
      -webkit-transform: translate(0%, 2%);
      -moz-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
      -o-transform: translate(0%, 2%);
      transform: translate(0%, 2%);
      opacity: 0.7
  }
  to {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1
  }
  }
  
  @keyframes remove_animation {
    from {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
        opacity: 1
    }
    to {
        -webkit-transform: translate(0%, 2%);
        -moz-transform: translate(0%, 2%);
        -ms-transform: translate(0%, 2%);
        -o-transform: translate(0%, 2%);
                transform: translate(0%, 2%);
        opacity: 0
    }
  }
  @-webkit-keyframes remove_animation {
    from {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        opacity: 1
    }
    to {
        -webkit-transform: translate(0%, 2%);
        -moz-transform: translate(0%, 2%);
        -ms-transform: translate(0%, 2%);
        -o-transform: translate(0%, 2%);
        transform: translate(0%, 2%);
        opacity: 0
    }
  }
  
  .remove_animation {
    -webkit-animation-name: remove_animation;
    -moz-animation-name: remove_animation;
    -ms-animation-name: remove_animation;
    -o-animation-name: remove_animation;
    animation-name: remove_animation;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards
  }
  .block_animation {
    -webkit-animation-name: block_animation;
    -moz-animation-name: block_animation;
    -ms-animation-name: block_animation;
    -o-animation-name: block_animation;
    animation-name: block_animation;
    -webkit-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .basic_animation {
    -webkit-animation-name: basic_animation;
    -moz-animation-name: basic_animation;
    -ms-animation-name: basic_animation;
    -o-animation-name: basic_animation;
    animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}