@media (hover: none) { 
    div.main__index_block_row {
        overflow-y:hidden;
        /* background-color: aqua; */
    }
}
@media (hover: hover) { 
    div.main__index_block_row {
        overflow-y:hidden;
        overflow-x: hidden;
        /* background-color: orange; */
    }
    div.main__index_block_row:hover {
        overflow-y:hidden;
        /* overflow-x: scroll; */
    }
}
div.main__index_block_row {
    position: relative;
    margin:32px 0;
    display: flex;
    gap:24px;
    height: auto;
}
div.main__index_block_row_b {
    width:340px;
    height: 227px;
    cursor: pointer;
    margin:0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
         border-radius: 16px;
}
div.main__index_block {
    position: relative;
    width:100%;
    height:100%;
    background-color: var(--nav_menu_c);
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;
    margin-bottom:16px
}
div.main__index_block_pic_info {
    box-sizing: border-box;
    bottom:0;
    padding:16px;
    width:100%;
    position: absolute;
    z-index:3;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
         border-radius: 16px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
img.main__index_block_pic_info_img {
    width:40px;
    height:40px;
    border-radius: 8px;
}
div.main__index_block_pic_info_block {
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color:hsl(0, 0%, 100%);
    margin:0 8px;
}
div.main__index_block_pic_info_block_action {
    padding:4px 16px;
    background: var(--blue_back);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
    color:hsl(0, 0%, 100%);
    font-size:14px;
}

div.main__index_block_pic_back {
    width:100%;
    height:100%;
    position: absolute;
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;
    backdrop-filter: brightness(90%) blur(4px);
    z-index:2;
}
div.main__index_block_pic {
    width:100%;
    height:100%;
    position: absolute;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    z-index:1;
}
img.main__index_block_img {
    object-fit: cover;
    width:100%;
    height:100%;
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px
}
div.main__index_b {
    width: 100%;
    position: relative;
}
div.left {
    width:60px;
    height:60px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    top:30%;
    position:absolute;
    z-index:5;
    border-radius: 100%;
    cursor: pointer;
}
div.right {
    width:60px;
    height:60px;
    background: rgba(0, 0, 0, 0.6);
    top:30%;
    position: absolute;
    z-index:5;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
