*{
  margin:0;
  padding:0
}

.disable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}
div.emoji_h1 {
  width: 26px;
  height: 26px;
  position: relative;
  margin-left:8px
}

input[type="date"]::before {
	color: var(--input_back_text);
	content: attr(placeholder);
  width:300px
}
input[type="date"] {
	color: transparent
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: var(--font-color)
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
  width:0
}

/*  */

input[type="date"]::-webkit-calendar-picker-indicator {
    content: url(../public/emoji-small/calendar.webp);
    cursor: pointer
}
input[type="date"]::-moz-calendar-picker-indicator {
  content: url(../public/emoji-small/calendar.webp);
  cursor: pointer
}
input[type="date"]::-ms-calendar-picker-indicator {
  content: url(../public/emoji-small/calendar.webp);
  cursor: pointer
}
input[type="date"]::-o-calendar-picker-indicator {
  content: url(../public/emoji-small/calendar.webp);
  cursor: pointer
}
input[type="date"]::-khtml-calendar-picker-indicator {
  content: url(../public/emoji-small/calendar.webp);
  cursor: pointer
}


.flex_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}

h1 {
  font-size:22px;
  line-height:34px
}
h2 {
  font-size:20px;
  line-height:31px
}
h3 {
  font-size:17px;
  line-height:27px
}
h4 {
  font-size:16px;
  line-height:26px
}
h5 {
  font-size:15px;
  line-height: 20px
}
h6 {
  font-size:13px;
  line-height:20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
span.head {
  font-size:12px;
  line-height:20px;
}
span.head_1 {
  font-size:15px;
  line-height: 20px;
  font-weight: 700
}
p {
  font-size:16px;
  line-height:26px
}
p.small {
  font-size: 14px;
  line-height: 20px
}
.smaller {
  font-size: 13px;
  line-height: 18px
}
p.sm {
  margin-top:16px;
  font-size: 13px;
  line-height: 18px
}
.click {
  cursor: pointer
}
.opacity_zero {
  opacity: 0
}
.anim_hover {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.anim_hover:hover {
  -ms-transform: translate(0%, -8%);
  -webkit-transform: translate(0%, -8%);
  transform: translate(0%, -8%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7
}

.text_center {
  text-align: center
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -o-appearance: textfield;
  -ms-appearance: textfield;
  appearance: none
}

@keyframes basic_animation {
  from {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      opacity: 0.7
  }
  to {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1
  }
}
@-webkit-keyframes basic_animation {
  from {
      -webkit-transform: scale(0.95);
      opacity: 0.7
  }
  to {
      -webkit-transform: scale(1);
      opacity: 1
  }
}

@keyframes block_animation {
  from {
      -webkit-transform: translate(0%, 2%);
      -moz-transform: translate(0%, 2%);
      -ms-transform: translate(0%, 2%);
      -o-transform: translate(0%, 2%);
      transform: translate(0%, 2%);
      opacity: 0.7
  }
  to {
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1
  }
}
@-webkit-keyframes block_animation {
  from {
    -webkit-transform: translate(0%, 2%);
    -moz-transform: translate(0%, 2%);
    -ms-transform: translate(0%, 2%);
    -o-transform: translate(0%, 2%);
    transform: translate(0%, 2%);
    opacity: 0.7
}
to {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1
}
}
@-ms-keyframes block_animation {
  from {
    -webkit-transform: translate(0%, 2%);
    -moz-transform: translate(0%, 2%);
    -ms-transform: translate(0%, 2%);
    -o-transform: translate(0%, 2%);
    transform: translate(0%, 2%);
    opacity: 0.7
}
to {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1
}
}
@-moz-keyframes block_animation {
  from {
    -webkit-transform: translate(0%, 2%);
    -moz-transform: translate(0%, 2%);
    -ms-transform: translate(0%, 2%);
    -o-transform: translate(0%, 2%);
    transform: translate(0%, 2%);
    opacity: 0.7
}
to {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1
}
}
@-o-keyframes block_animation {
  from {
    -webkit-transform: translate(0%, 2%);
    -moz-transform: translate(0%, 2%);
    -ms-transform: translate(0%, 2%);
    -o-transform: translate(0%, 2%);
    transform: translate(0%, 2%);
    opacity: 0.7
}
to {
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1
}
}

@keyframes remove_animation {
  from {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
      opacity: 1
  }
  to {
      -webkit-transform: translate(0%, 2%);
              transform: translate(0%, 2%);
      opacity: 0
  }
}
@-webkit-keyframes remove_animation {
  from {
      -webkit-transform: translate(0%, 0%);
      opacity: 1
  }
  to {
      -webkit-transform: translate(0%, 2%);
      opacity: 0
  }
}

.remove_animation {
    -webkit-animation-name: remove_animation;
            animation-name: remove_animation;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}
.block_animation {
    -webkit-animation-name: block_animation;
    -moz-animation-name: block_animation;
    -ms-animation-name: block_animation;
    -o-animation-name: block_animation;
    animation-name: block_animation;
    -webkit-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.basic_animation {
    -webkit-animation-name: basic_animation;
            animation-name: basic_animation;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards
}

p.sub_content {
  color: var(--sub_content);
  margin-top:16px
}

p.nav {
  font-size:16px;
  line-height:26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap
}

p.nav > a {
  opacity: 0.5
}

@media (prefers-color-scheme: dark) {
  :root {
      --back-img:url(../public/img/back-night.svg);
      --top-icon:url(../public/img/top-night.svg);
      --menu-icon:url(../public/img/menu-night.svg);
      --logo:url(../public/img/logo-night.webp);
      --back:hsl(0, 0%, 0%);
      --background-color:hsla(0, 0%, 0%,0.93);
      --header-color:hsl(240, 3%, 11%);
      --block-color: hsl(218, 9%, 18%);
      --block-color_transparent: hsla(0, 0%, 20%, 0.5);
      --menu-color:hsl(240, 2%, 18%);
      --menu-border-color:hsl(240, 2%, 18%);
      --menu-font-color:hsl(241, 100%, 77%);
      --input_back:hsl(240, 2%, 18%);
      --nav_block:hsl(240, 3%, 11%);
      --nav_block_blur:hsla(240, 3%, 9%,0.7);
      --font-color:hsl(0, 0%, 100%);
      --brand-color:hsl(241, 100%, 74%);
      --sub_content:hsla(240, 33%, 94%, 0.6);
      --green_back:hsl(129, 67%, 52%);
      --purple_back:hsl(280, 85%, 65%);
      --blue_back:hsl(210, 100%, 52%);
      --red_back:hsl(349, 100%, 59%);
      --orange_back:hsl(35, 100%, 50%);
      --input_back_text:hsla(240, 33%, 94%,.6);
      --input_border:transparent;
      --border-color:hsl(240, 1%, 30%);
      --search_icon: url(../public/img/search_night.svg);
      --nav_menu_c:hsl(240, 2%, 18%);
      --back_contrast:brightness(100%);
      --confirm_block:hsl(240, 2%, 18%);
      --search_back:hsl(240, 2%, 18%);
      --search-block: hsl(240, 2%, 28%);
      --brand_back:hsl(241, 100%, 74%);
      --email_img: url(../public/img/email-night.svg);
      --key_img: url(../public/img/key-night.svg);
      --skeleton-start:hsl(240, 1%, 14%);
      --skeleton-end:hsl(240, 1%, 34%)
  }
}
@media (prefers-color-scheme: light) {
  :root {
      --back-img:url(../public/img/back-light.svg);
      --top-icon:url(../public/img/top.svg);
      --menu-icon:url(../public/img/menu.svg);
      --logo:url(../public/img/logo.webp);
      --back:hsl(210, 10%, 96%);
      --background-color:hsl(0, 0%, 94%);
      --header-color:hsl(0, 0%, 100%);
      --block-color:hsl(220, 14%, 95%);
      --block-color_transparent:hsla(0, 0%, 87.5%, 0.5);
      --menu-color:hsl(248, 57%, 59%);
      --menu-border-color:hsl(248, 57%, 59%);
      --menu-font-color:hsl(0, 0%, 100%);
      --input_back:hsl(0, 0%, 100%);
      --nav_block:hsl(0, 0%, 100%);
      --nav_block_blur:hsla(0, 0%, 98%,0.7);
      --font-color:hsl(225, 15%, 16%);
      --brand-color:hsl(248, 57%, 47%);
      --sub_content:hsl(0, 0%, 38%);
      --green_back: hsl(135, 59%, 49%);
      --purple_back:hsl(280, 68%, 60%);
      --blue_back: hsl(211, 100%, 50%);
      --red_back:hsl(349, 100%, 59%);
      --orange_back:hsl(36, 100%, 52%);
      --input_back_text:hsl(0, 0%, 30%);
      --input_border:hsl(220, 14%, 91%);
      --border-color:hsl(216, 10%, 90%);
      --search_icon: url(../public/img/search.svg);
      --nav_menu_c:hsl(240, 24%, 98%);
      --back_contrast:brightness(40%);
      --confirm_block:hsl(0, 0%, 100%);
      --search_back:hsl(0, 0%, 100%);
      --search-block: hsl(210, 7%, 95%);
      --brand_back:hsl(248, 57%, 59%);
      --email_img: url(../public/img/email-light.svg);
      --key_img: url(../public/img/key-light.svg);
      --skeleton-start:hsl(0, 0%, 70%);
      --skeleton-end:hsl(0, 0%, 88%)
  }
}

#nprogress .bar {
  background: var(--brand_back) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--brand_back), 0 0 5px var(--brand_back);
}

#nprogress .spinner-icon {
  border-top-color: var(--brand_back) !important;
  border-left-color: var(--brand_back) !important;
}

div.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate
}

@keyframes skeleton-loading {
  0% {
      background-color: var(--skeleton-start)
  }

  100% {
      background-color: var(--skeleton-end)
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--block-color) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 1px 0 0 var(--brand-color), inset 0 0 0px 9999px var(--block-color);
  box-shadow: 0 1px 0 0 var(--brand-color), inset 0 0 0px 9999px var(--block-color)
}
.sup {
  font-size:12px;
  vertical-align: 2px;
  font-weight: 300;
  color:var(--sub_content)
}
.top_header {
  margin-top:32px
}
.grey_background {
  background-color: var(--sub_content)
}
.brand_background {
  background-color: var(--brand_back)
}
.green_background {
  background-color: var(--green_back)
}
.block_background {
  background-color: var(--block-color)
}
.blue_background {
  background-color: var(--blue_back)
}
.red_background {
  background-color: var(--red_back)
}
.purple_background {
  background-color: var(--purple_back)
}
.orange_background {
  background-color: var(--orange_back)
}
.green_font{
  color: var(--green_back)
}
.blue_font {
  color: var(--blue_back)
}
.red_font {
  color: var(--red_back)
}
.purple_font {
  color: var(--purple_back)
}
.orange_font {
  color: var(--orange_back)
}
.white_font {
  color: hsl(0, 0%, 100%)
}

@media screen and (min-width:1900px) {
  :root {
      --m-1: 32px 150px;
      --m-2: 64px 150px;
      --m-3: 64px 150px;
      --m-4: 8px 150px 48px 150px;
      --s-1: 64px 150px 32px 150px;
      --s-2: 32px 150px;
      --n-1: 32px 150px;
      --n-2: 16px 37.5px;
      --m-p:40px 20px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex
  }
  div.header__search_blocks {
    width:800px
  }
  div.main__menu_nav {
    background-color: var(--nav_block);
    margin:0 11px;
    height: 158px
  }
  div.main__menu_nav_blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin:22px 11px 0 11px
  }
  div.main__menu_nav_block {
    background-color: var(--background-color)
  }
  div.search_action_block {
    width: 800px
  }
  input.header__search_input {
      width:100%
  }
  input.header__search_input:focus {
    width:100%
  }
  div.header__logo {
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
            width:20%
  }
  div.header__search {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
        -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
        order:2;
        width:60%
  }
  div.header__action {
      -webkit-box-ordinal-group:4;
      -ms-flex-order:3;
      order:3;
      width:20%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  }
  .p-m {
      margin-top:60px
  }
  .c-m {
      margin: 60px auto 0 auto
  }
  div.page_not_found {
    height: 80vh
  }
  .hide_when_need {
    margin-left:16px
  }
  div.header__search_blocks {
    position: absolute;
    z-index:2;
    margin-top:60px;
    background-color: var(--search_back);
    padding:16px;
    border-radius: 24px;
    border: 1.5px solid var(--input_border);
    box-sizing: border-box
  }
  div.header__search_blocks > div {
    margin-top:8px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr))
  }
}
@media screen and (min-width:1161px) and (max-width:1899px) {
  :root {
      --m-1: 32px 64px;
      --m-2: 64px 64px;
      --m-3: 64px 64px;
      --m-4: 8px 64px 48px 64px;
      --s-1: 32px 64px;
      --s-2: 16px 64px;
      --n-1: 24px 64px;
      --n-2: 16px 12.5px;
      --m-p: 40px 20px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex
  }
  div.search_action_block {
    width:600px
  }
  div.header__search_blocks {
    width:600px
  }
  input.header__search_input {
      width:100%
  }
  input.header__search_input:focus {
      width:100%
  }
  div.header__logo {
      -webkit-box-ordinal-group:2;
          -ms-flex-order:1;
              order:1;
              width:20%
  }
  div.header__search {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
        -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
        order:2;
        width:60%
  }
  div.header__action {
      -webkit-box-ordinal-group:4;
      -ms-flex-order:3;
      order:3;
      width:20%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end
  }
  .p-m {
      margin-top:60px
  }
  .c-m {
      margin: 60px auto 0 auto
  }
  div.page_not_found {
    height: 80vh
  }
  .hide_when_need {
    margin-left:16px
  }
  div.header__search_blocks {
    position: absolute;
    z-index:2;
    margin-top:60px;
    background-color: var(--search_back);
    padding:16px;
    border-radius: 24px;
    border: 1.5px solid var(--input_border);
    box-sizing: border-box
  }
  div.header__search_blocks > div {
    margin-top:8px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr))
  }
}
@media (min-width:601px) and (max-width:1160px) {
  :root {
      --m-1: 30px 32px;
      --m-2: 58px 32px;
      --m-3: 64px 32px;
      --m-4: 8px 32px 48px 32px;
      --s-1: 32px 32px;
      --s-2: 16px 32px;
      --n-1: 16px 32px;
      --n-2: 16px 12px;
      --m-p: 32px 32px;
      --p:60px;
      --n-b: var(--border-color);
      --i-s: 0 60px;
      --display: flex
  }
  
  div.header__search_blocks {
    width:100%
  }
  header {
      -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap
  }
  input.header__search_input {
      width: 100%
  }
  div.header__logo {
      width:50%
  }
  div.header__search {
      padding-top:30px;
      width: 100%
  }
  div.header__action {
      width: 50%;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end
  }
  .p-m {
      margin-top:30px
  }
  .c-m {
      margin: 30px auto 0 auto
  }
  div.page_not_found {
    height: 70vh
  }
  .hide_when_need {
    margin-left:16px
  }
  div.header__search_blocks {
    position: relative;
    z-index:2;
    margin-top:16px;
    background-color: var(--search_back);
    padding:16px;
    border-radius: 24px;
    border: 1.5px solid var(--input_border);
    box-sizing: border-box
  }
  div.header__search_blocks > div {
    margin-top:8px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr))
  }
}
@media (min-width:1px) and (max-width:600px) {
  :root {
      --m-1: 32px 16px 24px 16px;
      --m-2: 38px 16px;
      --m-3: 32px 16px;
      --m-4: 8px 16px 48px 16px;
      --s-1: 16px 16px;
      --s-2: 16px 16px;
      --n-1: 16px 16px;
      --n-2: 16px 0;
      --m-p: 0 32px;
      --p:48px;
      --n-b: transparent;
      --i-s: 0 24px 0 52px;
      --display: flex
  }
  div.header__search_blocks {
    width:100%
  }
  header {
      -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          box-sizing: border-box
  }
  input.header__search_input {
      width: 100%
  }
  input.header__search_input:focus {
      border-radius: 24px
  }
  input.header__search_input:focus ~ header {
      height: 100vh
  }
  input.main__block_interface_menu_c_s_i:focus+header{
      height: 100vh
  }
  div.header__logo {
      width:30%
  }
  div.header__search {
      padding-top:32px;
      width: 100%
  }

  div.header__action {
      width: 70%;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end
  }
  span.header__search_menu_text, div#search_top {
      display: none
  }
  div.main__block_menu_select_block {
      width: 100%;
      padding:16px 0 0 16px;
      margin-bottom:15px
  }
  .p-m {
      margin-top:30px
  }
  .c-m {
      margin: 30px auto 0 auto
  }
  div.page_not_found {
    height: 75vh
  }
  .hide_when_need {
    display: none
  }
  div.header__search_blocks {
    position: relative;
    z-index:2;
    margin-top:16px;
    /* background-color: var(--search_back); */
    /* padding:16px; */
    border-radius: 24px;
    /* border: 1.5px solid var(--input_border); */
    box-sizing: border-box;
    /* height:80vh; */
  }
  div.header__search_blocks > div {
    margin-top:16px;
    width:100%
  }
}

div.search_action_block {
  display:flex;
  align-items: center
}

button.search_action_block_cancel {
  margin-left:16px;
  cursor: pointer
}

div.c>input.header__search_input:focus+div.header__search_menu {
  display: none
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: var(--sub_content);
  border-radius: 15px;
  opacity: 0.3
}

::-webkit-scrollbar-thumb:hover {
  background: var(--font-color); 
  opacity: 1
}


.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
.flex-column {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}

.disabled {
  cursor: not-allowed
}

html {
  overflow-y: overlay
}

html,body {
  overflow-x: hidden
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  line-height:26px;
  background-color: var(--background-color);
  color:var(--font-color);
  font-display: optional
}
input,button,input:focus,textarea,textarea:focus,select,hr {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  line-height:26px;
  background-color: transparent;
  border:0 none;
  outline:none;
  border-radius:0;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  color:var(--font-color);
  font-display: optional;
  caret-color: var(--brand-color)
}

hr {
  height:1px;
  background-color: var(--block-color);
  margin:32px 0;
  border-radius: 50px;
}

a {
  text-decoration: none;
  display: block;
  color:var(--font-color)
}

a:link,button,select,a,img,div,svg,input,span {
  -moz-tap-highlight-color:transparent;
  -ms-tap-highlight-color:transparent;
  -o-tap-highlight-color:transparent;
  -webkit-tap-highlight-color:transparent
}

b.b_color {
  color:var(--brand-color);
  cursor:pointer
}
div.alerts_g {
  width: 250px;
  height:50px;
  background-color: var(--green_back);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius:27px;
  -webkit-animation-name: basic_animation;
          animation-name: basic_animation;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards
}

span.logo {
  width: 300px;
  color:var(--sub_content);
  text-align: center
}
span.logo_s {
  font-weight: 700;
  color:white
}


header {
  padding:var(--m-1);
  background-color: var(--header-color);
  display: var(--display);
  margin-bottom: 16px ;
  border-radius: 0 0 24px 24px;
  box-sizing: border-box
}


div.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

div.header__logo_p {
  width:150px
}

div.header__logo_pic {
  position: relative;
  width: 112px;
  height: 32px;
  background-image:var(--logo);
  background-size: 112px 32px
}

img.header__logo_img {
  position: absolute;
  width: 105px;
  height: 30px;
  cursor: pointer
}

div.header__search_menu_pic {
  position: relative;
  width: 22px;
  height: 22px;
  background-image:var(--top-icon);
  background-size: 22px 22px
}

div.header__search_menu_pic1 {
  position: relative;
  width: 22px;
  height: 22px;
  background-image:var(--menu-icon);
  background-size: 22px 22px
}

img.header__search_menu_img {
  position: absolute;
  width:auto;
  height:22px
}

div.header__search_menu {
  -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding:0 16px;
  height:46px;
  background-color: var(--menu-color);
  border-radius: 24px;
  border:1.5px solid var(--menu-border-color);
  cursor: pointer;
  margin-right:16px
}
span.header__search_menu_text {
  font-size:16px;
  line-height:26px;
  font-weight: 600;
  color: var(--menu-font-color);
  margin: 0 16px 0 16px
}
input.header__search_input {
  padding:var(--i-s);
  height:48px;
  font-size:16px;
  border:1.5px solid var(--input_border);
  border-radius: 24px;
  color:var(--font-color);
  background: var(--search_icon) no-repeat scroll 16px 12px var(--block-color);
  background-size:22px 22px;
  box-sizing: border-box
}
input.header__search_input::-webkit-input-placeholder {
  color: var(--input_back_text)
}b
input.header__search_input::-moz-placeholder {
  color: var(--input_back_text)
}
input.header__search_input:-ms-input-placeholder {
  color: var(--input_back_text)
}
input.header__search_input::-ms-input-placeholder {
  color: var(--input_back_text)
}
input.header__search_input::placeholder {
  color: var(--input_back_text)
}
button.header__search_button {
  -webkit-box-ordinal-group:4;
      -ms-flex-order:3;
          order:3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding:0 17px;
  height:52px;
  background-color: var(--background-color);
  border-radius: 0 14px 14px 0;
  border:1px solid var(--block-color);
  cursor:pointer
}
div.header__action {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}
div.header__action_image {
  width: 46px;
  height: 46px;
  border-radius: 24px;
  border:1px solid var(--block-color);
  background-color: var(--block-color);
  cursor: pointer;
  position: relative
}
div.header__action_login_button {
  display: flex;
  align-items: center;
  padding:0 24px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--brand_back);
  cursor: pointer;
  position: relative;
  color:hsl(0, 0%, 100%);
  box-sizing: border-box;
}
img.header__action_avatar {   
  width: 46px;
  height: 46px;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover
}
div.header__action_block {
  width:85px;
  height:48px;
  margin-left:16px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size:16px;
  background-color: var(--block-color);
  box-sizing: border-box;
}
span.header__action_block_text {
  text-transform: uppercase;
  font-weight: 700
}

/* Main */
div.main__preloader {
  width:100%;
  height:80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}

svg.main__preloader_pic {
  width: 100px;
  height: 100px
}
div.page_not_found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: basic_animation;
          animation-name: basic_animation;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: var(--header-color);
  border-radius: 24px;
  margin:var(--n-2)
}
div.page_not_found_block{
  width: 276px;
  height:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}
div.page_not_found_block_pic{
  width: 256px;
  height:256px;
  position: relative;
  margin: 0 auto
}
div.page_not_found_block_img{
  width: 200px;
  height:200px;
  position: relative;
  margin: 0 auto 24px auto
}
h1.page_not_found {
  text-align: center;
  font-size: 30px
}
p.page_not_found {
  margin-top:20px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color:var(--sub_content)
}
a.page_not_found{
  padding:16px 27px;
  width: auto;
  height: auto;
  background: var(--red_back);
  border-radius: 30px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  cursor: pointer;
  margin:20px auto 0 auto
}
div.confirm__back {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:100%;
  height:100%;
  -webkit-backdrop-filter: blur(2px) var(--back_contrast);
  -moz-backdrop-filter: blur(2px) var(--back_contrast);
  -o-backdrop-filter: blur(2px) var(--back_contrast);
  backdrop-filter: blur(2px) var(--back_contrast);
  background-color: var(--nav_block_blur);
  z-index:999999
}
div.confirm__block {
  width:244px;
  height: auto;
  background-color: var(--confirm_block);
  border-radius: 24px;
  padding:20px;
  text-align: center
}
div.confirm__block_action {
  display: -ms-grid;
  display: grid
}
div.confirm__block_action > div {
  margin-top:16px;
  padding-bottom:8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid var(--border-color)
}
span.confirm__block_action_row {
  margin-left:8px;
  font-size:16px
}
div.confirm__block_action_2 {
  margin-top:16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  height: 50px
}
div.confirm__block_action_2 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}
button.confirm_custom {
  width: 100px;
  padding:8px 0;
  border-radius: 26px;
  cursor: pointer
}
button.confirm_custom_a {
  width: 100px;
  padding:8px 0;
  border-radius: 26px;
  cursor: pointer;
  color:white
}
/*  */
div.main_hide {
  width:100vw;
  height: 82vh;
  position: absolute;
  z-index:1
}
div.fullscreen__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width:100vw;
  height: 100vh;
  background-color: var(--nav_block_blur);
  position: fixed;
  z-index:10;
  -webkit-backdrop-filter: blur(10px) brightness(0.2);
  -moz-backdrop-filter: blur(10px) brightness(0.2);
  -o-backdrop-filter: blur(10px) brightness(0.2);
  backdrop-filter: blur(10px) brightness(0.2)
}
div.fullscreen__result_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width:280px;
  height: 46px;
  padding:0 16px;
  border-radius: 30px;
  color:white;
  margin: 20px auto 0 auto
}
div.fullscreen__result_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right:8px
}
#frame { 
  width:95%;
  height: 442px;
  border:0;display:block; 
  margin:0 auto;
  background-color: var(--nav_block);
  border-radius: 24px;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95)
}
#frame_f { 
  width:100%;
  height: 85vh;
  border:0;display:block; 
  margin:0 auto;
  border-radius: 24px;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  background-color: var(--nav_block)
}
div.main__crop_image {
  width:100vw;
  height: 100vh;
  background-color: var(--nav_block_blur);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index:30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}
div.main__crop_image_block {
  width:70vw;
  height: 70vh;
  background-color: var(--background-color);
  position: fixed;
  z-index:30
}
div.main__crop_image_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  bottom:0;
  position: fixed;
  margin-bottom:20px
}
button.main__block_button {
  padding:16px 27px;
  width: auto;
  height: auto;
  border-radius: 30px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  cursor: pointer
}
div.main {
  padding:var(--m-3);
  background-color: var(--header-color);
  border-radius: 24px;
  margin: 16px auto;
  box-sizing: border-box
}
div.main_row {
  max-width: 1920px;
  width:100%;
  min-width: 50px;
  margin: 0 auto;
}
div.main_block_row {
  position: relative;
  max-width:1400px;
  width:100%;
  min-width: 160px;
  margin: 0 auto
}
div.main_app {
  padding:var(--m-4);
  background-color: var(--header-color);
  border-radius: 0 0 24px 24px
}
div.main_app_full {
  padding:var(--m-4);
  height: 83vh;
  background-color: var(--header-color);
  border-radius: 0 0 24px 24px;
  box-sizing: border-box
}
div.main__nav {
  margin: var(--n-2);
  padding:var(--n-1);
  background-color: var(--nav_block);
  border-radius: 24px
}
.blur_background {
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
}
@media not all and (display-mode: standalone) {
  div#globalLoader {
    position: fixed;
    z-index: 8999;
    top: 50%;
    left: 50%;
    background-color: var(--nav_block);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
  }
  div.logo_preloader {
    position: relative;
    background-image: var(--logo);
    background-size:200px 57.14px;
    width:200px;
    height:57.14px;
    z-index: 9000;
    margin-bottom: 32px
  } 
  div.header_preloader {
    width:100%;
    height:50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    /* background-color: #E6E8EC; */
  }
  div.footer_preloader {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* background-color: #777E90; */
  }
  .lds-ripple {
    margin-top:20px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--brand-color);
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite
  }
  .lds-ripple div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
@media all and (display-mode: standalone) {
  div.header_preloader > p {
    display: none
  }
}

div.main_back_block {
  width:100%;
  padding:var(--s-1);
  background-color: var(--header-color);
  border-radius: 24px 24px 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: border-box
}
div.main_back_block_fixed {
  width:100%;
  padding:var(--s-1);
  background-color: var(--header-color);
  display: grid;
  grid-template-columns: 50% 50%;
  top:0;
  position:fixed;
  z-index: 999;
  box-sizing: border-box
}
div.main_back_action {
  width:100%;
  display: flex;
  justify-content:flex-end
}
div.main_back_action_block {
  display: flex;
  align-items: center;
  cursor: pointer
}

div.main_back_action_block_row {
  width:40px;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%
}

div.main_back_action_block_img {
  position: relative;
  width:30px;
  height:30px
}

div.main_back_fixed {
  top:0;
  position:fixed;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  cursor: pointer;
  width:100%;
  background-color: var(--header-color);
  z-index:999;
  padding:var(--s-2);
  box-sizing: border-box
}

div.main_back_fixed_1 {
  top:0;
  position:fixed;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  cursor: pointer;
  width:100%;
  background-color: var(--header-color);
  z-index:999;
  padding:var(--s-2);
  box-sizing: border-box
}

div.main_back {
  display: flex;
  align-items: center;
  /* margin-bottom: 32px; */
  cursor: pointer;
  width:100%;
  padding:var(--s-1);
  background-color: var(--header-color);
  border-radius: 24px 24px 0 0;
  box-sizing: border-box
}
div.main_back_1 {
  display: flex;
  align-items: center;
  /* margin-bottom: 32px; */
  cursor: pointer;
  width:100%;
  padding:var(--s-1);
  background-color: var(--header-color);
  box-sizing: border-box
}

div.main_back_with_action {
  width:100%;
  display: flex;
  align-items: center;
  /* margin-bottom: 32px; */
  cursor: pointer
}

div.main_back_button {
  width:40px;
  height:40px;
  border-radius: 100%;
  background-color: var(--block-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:16px
}
div.main_back_button_i {
  width:20px;
  height:20px;
  background-image:var(--back-img);
  background-size: 20px 20px
}
/* img.ads_responsive {
  width:75%
} */
div.notification__back {
  position: relative;
  width:100%;
  height:100%;
  z-index:1
}
@media screen and (min-width:1900px) {
  div.notification__block {
    bottom:0;
    right:0;
    width: 375px;
    height: 76px;
    margin:32px;
    padding:0 16px
  }
}
@media screen and (min-width:601px) and (max-width:1899px) {
  div.notification__block {
    bottom:0;
    right:0;
    width: 375px;
    height: 76px;
    margin:32px;
    padding:0 16px
  }
}
@media (min-width:1px) and (max-width:600px) {
  div.notification__block {
    bottom:0;
    width: 85%;
    padding:16px;
    margin: 16px auto
  }
  div.notification__back {
    display: flex;
    justify-content: center
  }
}
div.notification__block {
  z-index:999;
  position: fixed;
  display: flex;
  background: var(--block-color_transparent);
  backdrop-filter: blur(40px);  
  border-radius: 16px
}
div.notification__block_1 {
  display: flex;
  align-items: center;
  width:93%;
  height: 100%
}
div.notification__block_1_img_row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height:50px;
  background-color: var(--header-color);
  border-radius: 100%;
  margin-right:16px
}
div.notification__block_1_img {
  position: relative;
  width:45px;
  height: 45px
}
img.notification__block_1_img_pic {
  border-radius: 100%
}
div.notification__block_2 {
  width:7%;
  background: url(../public/img/close.svg) no-repeat scroll 0px 14px  transparent;
  cursor: pointer
}
div.button__preloader {
  /* position:relative; */
  width: auto;
  height:50px
}
div.main__app_info {
  max-width: 720px;
  width: 100%;
  min-width: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin:0 auto;
  /*  */
  /* background-color: var(--block-color);
  padding:8px;
  border-radius: 24px;
  box-sizing: border-box; */
  /* margin-bottom:32px; */
}
div.main__app_info > img {
  /* 136 */
  width: 60px;
  height: 60px;
  border-radius: 24px;
}
div.main__app_info_block {
  margin:0 16px;
  box-sizing: border-box;
  width:100%;
}
div.main__app_info_block > h5 {
  margin-bottom:4px;
}
button.main__app_info_action {
  /* position: absolute; */
  background-color: var(--red_back);
  padding:8px 16px;
  border-radius: 24px;
  color:#fff;
  cursor: pointer;
  /* bottom:0; */
  font-weight: 600;
  font-size:16px;
}