div.app_show_preloader {
    width:100%;
    height:280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.app_show_preloader > svg {
    width: 100px;
    height: 100px;
}
.app_show_svg {
    fill:var(--font-color);
}