div.clock {
    padding:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    min-width: 100px;
    height:150px;
    background-color: var(--block-color);
    margin: 0 auto;
    border-radius: 16px;
    gap:16px;
    box-sizing: border-box;
}
div.clock_panel {
    display: flex;
    /* width:100%; */
}
div.clock_panel > span {
    font-size: 60px;
    line-height:60px;
    font-weight: 500;
}
div.clock_panel > p {
    color:var(--sub_content);
}
div.clock_info {
    max-width: 700px;
    width: 100%;
    min-width: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 24px auto;
    gap:16px;
}
div.clock_info > div {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height:80px;
    background-color: var(--block-color);
    border-radius: 16px;
    padding:16px;
    box-sizing: border-box;
}
div.clock_info > div > span {
    font-size:14px;
    color:var(--sub_content)
}
div.clock_info > div > p {
    font-size:20px;
    font-weight: 500;
}
div.stopwatch_action {
    max-width: 700px;
    width:100%;
    min-width: 100px;
    height:100px;
    margin: 32px auto;
    display: flex;
    justify-content: space-around;
}
div.stopwatch_action > button {
    width:100px;
    height:100px;
    border-radius: 100%;
    font-size: 24px;
    cursor: pointer;
}
button.stopwatch_action_reset {
    background-color: var(--block-color);
}
button.stopwatch_action_start {
    background-color: var(--green_back);
    color:hsl(0, 0%, 100%);
    border:1px solid var(--green_back);
}
button.stopwatch_action_stop {
    background-color: var(--red_back);
    color:hsl(0, 0%, 100%);
}
div.alarm_block {
    max-width: 500px;
    width:100%;
    min-width: 100px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}
input.alarm {
    background-color: var(--header-color);
    font-size:60px;
    line-height:60px;
    padding:8px 16px;
    box-sizing: border-box;
    border-radius: 16px;
}
button.add_alarm {
    background-color:var(--blue_back);
    color:#fff;
    padding: 8px 16px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    margin: 24px auto;
}
button.add_alarm:hover {
    opacity: 0.8;
}
button.more {
    padding: 8px 16px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    margin: 24px auto;
}
button.more:hover {
    background-color: var(--block-color);
    opacity: 0.8;
}